:root {
    --blue: rgb(25, 125, 201);
    --yellow: rgb(234, 166, 33);
    --light-gray: rgb(219, 226, 236);
}

p {
    margin: 0;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color:white;
    font-family: "Roboto", sans-serif;
}

input[type="search"] {
    margin: 0;
    border: none;
    border-radius: 10px;
    background-color: var(--light-gray);
    width: 90%;
    height: 1.75em;
}

.bg2 {
    background-color: red;
}

.bg3 {
    background-color: pink;
}

.bg4 {
    background-color: green;
}

/* TEXT */

.bold {
    font-weight: bold;
}

.text-white {
    color: white;
}

/* GRID */

.grid-container {
    display: grid;
}

.page-layout {
    grid-template: 1fr 4fr / 1fr 4fr;
}

.sidebar {
    grid-row: 1 / -1;
    grid-column: 1;
    background-color: var(--blue);
}

.sidebar-grid {
    grid-template-rows: 50px 205px 100px;
}

.sidebar-icons-3 {
    grid-template-rows: repeat(30px, 3);
}

.sidebar-icons-6 {
    grid-template-rows: repeat(30px, 6);
}

.header {
    grid-row: 1;
    grid-column: 2 / -1;
}

.header-grid {
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 3fr 2fr;
}

.main-content {
    grid-row: 2 / -1;
    grid-column: 2 / -1;
    background-color: var(--light-gray);
}

/* FLEX */

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

/* GAP */

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-30 {
    gap: 30px;
}

/* SIDEBAR */

.dashboard-icon {
    width: 40px;
    height: 40px;
}

.icon {
    width: 20px;
    height: 20px;
}

.dashboard-title {
    font-size: 1.25em;
}

/* PADDING */

.px-10 {
    padding-right: 10px;
    padding-left: 10px;
}

.px-20 {
    padding-right: 20px;
    padding-left: 20px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}